<html>
<head>
    <title>Profile</title>
</head>
<body>
<h1>Profile Information</h1><a th:href="@{/}">back</a>

<p>Name: <span th:text="${utilisateur.nom}"></span></p>
<p>Email: <span th:text="${utilisateur.email}"></span></p>
<p>Phone: <span th:text="${utilisateur.telephone}"></span></p>
<p>Location: <span th:text="${utilisateur.localisation}"></span></p>

<p>Logo:
    <img th:if="${utilisateur.logoPath != null}"
         th:src="'data:image/png;base64,' + ${utilisateur.logoPath}"
         alt="Logo" width="100" height="100"/>
</p>


<!-- Modify Button -->
<a href="/profile/edit" th:href="@{/profile/edit}">Modify</a>

<form action="/logout" method="POST">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <button type="submit">Logout</button>
</form>
</body>
</html>
